<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
    </head>
    <body>
        <h1>Bonjour {{ firstName }},</h1>

        <br>

        <p>Merci de pour votre message : </p>
        <br>

        <p> {{ message }} </p>

        <p> Notre équipe vous répondra sous 48h00 </p>

        {# ... #}
    </body>
</html>