{% extends 'base.html.twig' %}

{% block body %}


    <button class="btn btn-primary"> TOTO </button>

    <h1>Sacha ça a foiré !</h1>

    <p>
        On a eu une ereur car on connait pas ta page !
    </p>
{% endblock %}